
CaseStudy1_White/bin/tests/CS1Tests.class

HVmanager/src/main/java/ch/bfh/btx8081/w2016/white/HVmanager/MyUI.java

target/classes/ch/bfh/btx8053/w2016/white/HVmanager/MyUI$MyUIServlet.class

target/classes/README

target/ws-updated
